.tagline {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.side-drawer {
  background-color: rgba(18, 18, 18, 0.8);
}