@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Book.ttf');
  font-weight: 400;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body{
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color : #fff !important;
  font-family: 'Centra', sans-serif !important;
}
 
h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

.container{
 max-width: 1400px;
 width: 100%;
 margin: auto;
 padding: 0 20px;
}

.App {
  min-height: 100vh;
  background-image: url('./assets/img/banner-bg.png');
  background-position:  center;
  background-size: cover;
  background-repeat: no-repeat;
}

.home-page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-page  .tagline {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  width: 250px;
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
}

.error {
  color: rgb(200, 4, 4);
  padding: 5px;
}

::-webkit-scrollbar{
  width: 0px;
}

::-webkit-scrollbar-thumb{
  background: rgba((136), 136, 136, 0.281);
}

::-webkit-scrollbar-thumb:hover{
  background: #555;
}